.ComplexItem
  margin-bottom 15px
  &-title
    margin-bottom 0
  &-description
    padding-right 15px
    font-size 14px
    margin 5px 0
    text-align justify
  &-dates
    display block
    font-size 14px
    color rgba(0, 0,0,.7)