.Header
  display flex
  align-items center
  justify-content space-between
  grid-area Header
  margin-bottom 20px
  &-photo
    width 250px
    display flex
    justify-content center
    img
      width 150px
      height 150px
      object-fit cover
      border-radius 50%
  &-description
    width 100%
    margin-left 20px
