link-color = #3498db

*
  margin 0
  padding 0
  box-sizing border-box

body
  font-family 'Montserrat', sans-serif

h1, h2, h3
  margin-bottom 10px

a
  color lighten(link-color, 30%)
  text-decoration none
  &:hover
    color link-color

li
  list-style none

.ResumeContainer
  display grid
  grid-template "Header Header"\
                "Profile Profile"\
                "Experience Experience"\
                "Academic Skills"\
                "Interest Languages"
  grid-template-columns 1fr 1fr
  grid-gap 15px
  width 90%
  max-width 900px
  margin 10px auto
  padding 30px
  background #f9f8f8
  border-radius 5px